body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 350px;
}

    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .login-container input {
        width: 94%;
        padding: 10px;
        margin: 12px 0;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
    }

    .login-container button {
        width: 100%;
        padding: 12px;
        background-color: #2193b0;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .login-container button:hover {
            background-color: #176582;
        }

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
